doctype html
html(lang="en")
  include includes/head.pug
  body
    .container.mt-5
      .card.card-login.mx-auto(style="max-width: 400px;")
        .card-header.text-center
          h1 Login

        .card-body
          form(method="POST" action="/login")
            .input-group.form-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-user
              input.form-control(type="text" name="username" placeholder="Username")
            .input-group.form-group
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-key
              input.form-control(type="password" name="password" placeholder="Password")

            if error
              .form-group
                p(style="color: red;")= error
            .form-group
              input.btn.btn-outline-danger.float-right.login_btn(type="submit" name="btn" value="Login")

    script(type='module' src='/js/script_login.js')